.mainMonCompte {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--darker-white);
    font-family: 'Montserrat', sans-serif;
}

.buttons-container-monCompte {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.btn-monCompte {
    font-size: 1.2rem;
    font-weight: bold;
    padding: 1rem 2rem;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.btn-primary-monCompte {
    background-color: #16253F;
    color: #fff;

}

.btn-primary-monCompte:hover {
    background-color: #2F4F4F;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.btn-secondary-monCompte {
    background-color: #FFFFFF;
    color: #333;
}

.btn-secondary-monCompte:hover {
    background-color: #2F4F4F;
    color:#fff;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {
    .buttons-container-monCompte {
        flex-direction: row;
        gap: 1rem;
    }

    .btn-monCompte {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
    }
}