@import url("./slider.css");

.homePage section
{
    padding: 2rem 9%;
}

.homePage .heading
{
    text-align: center;
    font-size: 2.5rem;
    padding: 1rem;
    color: var(--black);
}

.homePage .heading span
{
    color: var(--blue);
}

.homePage .btn
{
    display: inline-block;
    padding: .4rem 1.5rem;
    border: .2rem solid var(--blue);
    color: var(--blue);
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: .4rem;
    position: relative;
    overflow: hidden;
    z-index: 0;
    margin-top: 1rem;
}

.homePage .btn::before
{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0%;
    height: 100%;
    background: var(--blue);
    transition: .3s linear;
    z-index: -1;
}

.homePage .btn:hover::before
{
    width: 100%;
    left: 0;
}

.homePage .btn:hover
{
    color: #fff;
}

.homePage .box-container
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
}

.homePage .box-container .box
{
    padding: 1.5rem;
    background: #fff;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border: .1rem solid rgba(0,0,0,.3);
    border-radius: .6rem;
    text-align: center;
    max-width: 18rem;
    position: relative;
}

.homePage .box-container .box img
{
    height: 13rem;
    object-fit: cover;
    width: 100%;
    border-radius: .5rem;
}

.homePage .box-container .box h3{
    color: var(--black);
    font-size: 1.7rem;
    padding-top: 1rem;
}