.comptePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh; /* Ajustez la hauteur selon vos besoins */
    margin-top: 5vh; /* Ajustez la marge supérieure */
}

.titreCompte {
    margin-bottom: 20px; /* Augmentez la marge inférieure du titre */
}

.comptePage input[type="text"],
.comptePage input[type="password"] {
    width: 300px; /* Ajustez la largeur selon vos besoins */
    margin-bottom: 20px; /* Ajoute de l'espace en dessous des boîtes de saisie */
}


.center{
    display: block;
    align-items:center;
    justify-content: center;
    margin:0;
}

   #container{
    width:400px;
    margin:0 auto;
    margin-top:10%;
   }
   /* Bordered form */
   form {
    width:100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
   }
   #container h1{
    width: 38%;
    margin: 0 auto;
    padding-bottom: 10px;
   }
   
   /* Full-width inputs */
   input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
   }
   
   /* Set a style for all buttons */
   input[type=submit] {
    background-color: #53af57;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
   }
   input[type=submit]:hover {
    background-color: white;
   }

.comptePage.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.comptePage .submit{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 59px;
    background: #16577f;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer; 
}

.comptePage .submit:hover{
    background: #7f7d88; /* Changez la couleur de fond au survol */
}

.comptePage.submitDelete-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}

.comptePage .submitDelete{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 59px;
    background: red;
    border-radius: 50px;
    color: #FFFFFF;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer; 
}

.comptePage .submitDelete:hover{
    background: #7f7d88; /* Changez la couleur de fond au survol */
}

.comptePage .buttons-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 700px; /* Ajustez la largeur maximale selon vos besoins */
    margin-top: 20px; /* Ajoutez de l'espace au-dessus des boutons */
}

.comptePage .submit,
.comptePage .submitDelete {
    width: 48%; /* Définissez la largeur des boutons */
}

.password-input {
    position: relative;
}

.password-input input[type="password"] {
    padding-right: 30px; /* Ajustez selon la taille de l'icône */
}

.password-input .edit-icon {
    position: absolute;
    top: 50%;
    right: 5px; /* Ajustez selon l'espacement souhaité */
    transform: translateY(-50%);
    cursor: pointer;
}
