.rectangle {
    position: absolute;
    right: 0;
    background-color: var(--white);
    width: 30%;
    height: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }
  
  @media (max-width: 768px) {
    .rectangle {
      width: 100%;
    }
  }
  
  .product-page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .product-page > * {
    margin-bottom: 20px;
  }
  
  .product-page > *:last-child {
    margin-bottom: 0;
  }
  
  .product-page.inactive {
    opacity: 0.2;
  }
  