.basket-page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.product-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-card {
    display: flex;
    border: 1px solid #e1e1e1;
    border-radius: 8px;
    overflow: hidden;
}

.product-card.disabled {
    opacity: 0.5;
}

.product-info.disabled {
    pointer-events: none;
}

.product-info.disabled .delete-button {
    pointer-events: auto;
    opacity: 1;
}

.product-image {
    width: 250px;
    height: 150px;
    object-fit: cover;
}

.product-info {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-name {
    margin: 0;
    color: #333;
    font-size: 1.2rem;
}

.product-description {
    font-size: 0.9rem;
    color: #666;
}

.product-quantity,
.product-price {
    font-weight: bold;
    color: #333;
    font-size: 1rem;
}

.out-of-stock {
    color: red;
    font-weight: bold;
}

.checkout-area {
    margin-top: 30px;
}

.basket-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.total-price {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
}

.tva-price {
    font-size: 1.2rem;
    color: #797979;
}

.checkout-button {
    background-color: #16253F;
    color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    font-size: 1rem;
}

.delete-button {
    margin: auto;
    background-color: #f44336;
    border: 1px solid #d32f2f;
    color: white;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
}

.delete-button:hover {
    background-color: #d32f2f;
    border-color: #b71c1c;
}

.quantity-input {
    width: 50px;
    margin-left: 10px;
}

.checkout-button.disabled {
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

@media (max-width: 768px) {
    .product-card {
        flex-direction: column;
        width: 70%;
        margin: 0 auto;
    }

    .product-image {
        width: 100%;
        margin: 0 auto;
    }

    * {
        text-align: center;
    }

    .delete-button {
        margin-top: 10px;
    }

    .checkout-button {
        width: 70%;
        margin: 0 auto;
    }
}
