.checkoutAdresse .btnProduit {
    display: flex;
    padding: .6rem 6rem;
    /* Adjust padding as needed */
    background-color: #FADBD8; /* Button background color */
    color: black; /* Button text color */
    text-decoration: none; /* Remove link underline */
    border: 3px solid black;
    font-weight: bold;
  
}

/* Button hover style */
.checkoutAdresse .btnProduit:hover {
    background-color: var(--dark-blue); /* Button background color on hover */
    color: black; /* Button text color on hover */
}

/* Button active style */
.checkoutAdresse .btnProduit:active {
    color: var(--white); /* Button text color on click */
}
