footer {
    width: 100%;
    position: fixed;
    bottom: 0; left: 0;
    background-color: var(--white);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    padding: 1rem 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer .reseaux {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

/* Média query */
@media (max-width: 500px) {
    footer {
        display: none;
    }
}