.forget-password-page {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #16253F;
}

.forget-password-page form {
    max-width: 400px;
    margin: auto;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.forget-password-page h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #16253F;
}

.forget-password-page input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #797979;
    border-radius: 4px;
    box-sizing: border-box;
}

.forget-password-page button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #16253F;
    color: #FFFFFF;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.forget-password-page button:hover {
    background-color: #8c96a3;
}